.tittle{
    font-size: 2em;
    line-height: 30px;
    color: #f2a700;
    padding-bottom: 50px;
    margin: 40px 60px 40px 60px;
    border-bottom: solid 4px #f2a700;
}

.buscar{
    padding: 5px;
    margin: 35px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.buscar input{
    width: 350px;
    height: 30px;
    margin-left: 15px;
    padding: 0 0 0 20px;
    font-size: 14px;
    outline: none;
    border: 2px solid #f2a700;
    background-color: #E3DAC9;
    border-radius: 30px;
}

.buscar_icon{
    background: #f2a700;
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.collag{
    margin-top: 40px;
    margin-bottom: 100px;
}

.evento_location{
    width: 960px;
    height: 60px;
    margin: 0 auto;
    background: #323337;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.Barra-lateral_link{
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    margin:5px 0 5px 40px;
    text-decoration: none;
}

.Barra-lateral_arrow{
    color: #f2f2f2;
    margin-left: auto;
    margin-right: 10px;
    transition: transform .3s;
}

.info_area{
    padding: 50px;
}

.funciones{
    width: 960px;
    height: auto;
    margin: 0 auto;
    background:  #3f3f3f;
    color: #f2f2f2;
}

.description{
    text-align: center;
    font-size: 22px;
    margin: 0;
}

.info_event{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.info{
    padding: 5px;
    margin: 30px;
}

.info h6{
    font-size: 20px;
}

.generar_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_word,
.button_pdf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    font-size: 13px;
    color: rgb(241, 236, 236);
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(254, 1, 136, 0.132);
    margin: 30px 0 20px 20px;
    cursor: pointer;
    padding: 0; /* Elimina el padding para evitar desplazamientos */
}

.button_word img,
.button_pdf img {
    width: 30px;
    height: 30px;
    margin-left: 10px; /* Espacio entre el texto y la imagen */
}

.button_word{
    background-color: #2B579A;
}

.button_pdf{
    background-color: #e51919;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
