.formu {
    width: 400px;
    height: auto;
    background-color: #E3DAC9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    clip-path: none;
    text-align: center;
    margin: 20px;
}

.container {
    margin: 50px 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 20px;
    justify-content: center; 
    align-items: center;
}

.categoria {
    font-size: 2em;
    line-height: 30px;
    color: #f2a700;
    padding-bottom: 20px;
    margin: 20px;
    border-bottom: solid 4px #f2a700;
    text-align: center;
}

.regis_events {
    font-size: 1em;
    line-height: 30px;
    color: #f2a700;
    padding-bottom: 15px;
    margin: 10px;
    border-bottom: solid 4px #f2a700;
}

.info_form {
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_form div {
    display: flex;
    flex-direction: column;
}

.info_form label {
    margin-bottom: 5px;
}

.info_form input {
    padding: 5px 10px;
    border: none;
    border-bottom: 3px solid #fcb900;
    background-color: #E3DAC9;
    outline: 0;
}

.btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    margin-left: 500px;
}

.button_regis_e {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #f2a700;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
}
